<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
    <handlers>
      <add name="httpPlatformHandler" path="*" verb="*" modules="httpPlatformHandler" resourceType="Unspecified" />
    </handlers>
    <httpPlatform processPath="%DNX_PATH%" arguments="%DNX_ARGS%" stdoutLogEnabled="false" startupTimeLimit="3600" forwardWindowsAuthToken="true" />
  </system.webServer>
  <connectionStrings>
    <!--<add name="DBContext" connectionString="data source=.\SQL2014;initial catalog=AdventureWorks;integrated security=True;multipleactiveresultsets=True;application name=ImageGallery" providerName="System.Data.SqlClient" />-->
    <!--<add name="SqlRoleManagerConnection" connectionString="Data Source=.\SQL2014;Database=ApplicationSecurity;Integrated Security=True;" />-->
  </connectionStrings>
</configuration>